<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8258e319-97da-4600-a76c-49edbf93df29/resourceGroups/RG-LT/providers/Microsoft.Web/sites/Loadtesting12</ResourceId>
    <ResourceGroup>RG-LT</ResourceGroup>
    <ApiResourceId>/subscriptions/8258e319-97da-4600-a76c-49edbf93df29/resourceGroups/RG-LT/providers/Microsoft.ApiManagement/service/CatalogServiceapi4/apis/CatalogService</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://loadtesting12-epc0atdadffqh5d6.westus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>4f9e2da9-f5d6-4fd8-a3f9-69f16f17561d</ProjectGuid>
    <MSDeployServiceURL>loadtesting12-epc0atdadffqh5d6.scm.westus-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Loadtesting12</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>